on:
  push:
    branches: [main]
    paths: ['**/README*.md', '.github/workflows/update_toc.yaml', 'scripts/gen_toc.sh']

jobs:
  update_toc:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      LANG: "ja_JP.UTF-8"
    steps:
      - uses: actions/checkout@v2
      - run: |
          curl https://raw.githubusercontent.com/ekalinin/github-markdown-toc/master/gh-md-toc -o gh-md-toc
          chmod a+x gh-md-toc
          ./scripts/gen_toc.sh
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Auto update markdown TOC
